/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
html {
    scroll-padding: 5rem;
    scroll-behavior: smooth;
}

/* front: #cdcac0
dark back: #1b263b
light back: #b7aeb6 */

body {
	font-family: monda, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #cdcac0;
    background-color: #1b263b;
}

h1,
h2,
h3 {
    font-family: arvo, serif;
    margin: .7rem 0;
	color: #b7aeb6;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    color: #cdcac0;
}

p {
	margin: 1em 0;
}


/* Links
--------------------------------------------- */
a,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #1b263b;
}


a:focus {
	outline: 1px solid #b7aeb6;
    border-radius: 5%;
}

/* a:active {
	
} */


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.site-wrapper {
    margin: 0 auto;
}

.site-header {
    background-color: #cdcac0;
}

main {
    max-width: 68.75rem;
    padding: 0 1rem;
    margin: 0 auto 7rem;
}

section {
    margin: 3rem 0;
}

@media (min-width: 43.75em) {

    main {
        margin-top: 2rem;
    }
}


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
.site-header {
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    width: 100%;
    max-width: 68.75rem;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    margin: 0;
    padding: 1rem 0;
}

nav a {
    padding: 1rem;
}

nav a:hover {
    background-color: #b7aeb6;
}

@media (min-width: 43.75em) {

    nav ul {
        justify-content: flex-end;
    }
}


/* Main
--------------------------------------------- */

/* header */
.page-header {
    text-align: center;
}

.page-header h1 {
    color:#cdcac0;
}

.pfp {
    width: 100%;
    max-width: 15rem;
    border-radius: 50%;
}

.page-header h2 {
    text-align: left;
}

@media (min-width: 43.75em) {

    .page-header {
        text-align: left;
        height: 15rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 10%;
    }

    .page-header h1 {
        width: 100%;
    }
    
    .pfp {
        width: 40%;
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
    }

    .page-header h2 {
        width: 47%;
        margin: .7rem 1rem 1rem;
    }
}


/* about */
@media (min-width: 43.75em) {

    .section-about p {
        padding: 0 1.5rem;
    }
}

/* projects */
.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.project {
    max-width: 20rem;
    border: 2px solid #b7aeb679;
    border-radius: 3%;
}

.project img {
    border-radius: 3%;
}

.project h3 {
    padding: 0 1rem .5rem;
}

.project:hover {
    background-color: #b7aeb6;
}

.project:hover h3 {
    color:#1b263b;
}

.project a {
    padding-bottom: 3.7rem;
}


/* contact */
.section-contact {
    margin-top: 4rem;
    text-align: center;
}

.section-contact h2 {
    color: #cdcac0;
}

.section-contact a {
    background-color: #b7aeb6;
    color: #1b263b;
    padding: .5rem;
    margin-top: 1.5rem;
    border-radius: 5%;
    display: inline-block;
}

.section-contact a:hover {
    background-color: #cdcac0;
}


/* back to top button */
.btn-back-to-top {
    font-size: 1.5rem;
    background-color: #cdcac0;
    padding: 0 0.5rem;
    border-radius: 15%;
    border: 1px solid #1b263b;
    position: fixed;
    right: 5%;
    bottom: 7%;
}

.btn-back-to-top:hover {
    background-color: #b7aeb6;
}


/* Footer
--------------------------------------------- */
footer {
    text-align: center;
    color: #1b263b;
    background-color: #cdcac0;
    padding: 1.1rem;
}

footer p {
    margin: 0;
    font-size: 1rem;
}
